node-red-services/flows-aldo.json
[
    {
        "id": "ec41f33a324cf221",
        "type": "tab",
        "label": "Aldão Node-red Services",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8b0102306d0e779f",
        "type": "http in",
        "z": "ec41f33a324cf221",
        "name": "translator",
        "url": "/translator",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "ea35e56b14cd582f"
            ]
        ]
    },
    {
        "id": "24bb57979d131d2c",
        "type": "debug",
        "z": "ec41f33a324cf221",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 40,
        "wires": []
    },
    {
        "id": "719644eed1744295",
        "type": "comment",
        "z": "ec41f33a324cf221",
        "name": "Image caption translations",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "ea35e56b14cd582f",
        "type": "watson-translator",
        "z": "ec41f33a324cf221",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "pt",
        "apikey": "ZHzX_LpjWtj_fgX57bxbQR4xZZDdFKip3WaauObGpUaK",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "pt",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/4b8daa6e-d755-4d7a-872a-970c66341189",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "24bb57979d131d2c",
                "5221a130b9c43a6a",
                "760d103a63bf99c9"
            ]
        ]
    },
    {
        "id": "760d103a63bf99c9",
        "type": "watson-text-to-speech",
        "z": "ec41f33a324cf221",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaVoice",
        "voicehidden": "pt-BR_IsabelaVoice",
        "format": "audio/wav",
        "password": "",
        "apikey": "EEo-GWHPS9WyQP_GbUZgM0YPjGaYIVPm9024BdGzD54y",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/27d21813-c8e0-445c-89d5-38d0444fa931",
        "x": 660,
        "y": 140,
        "wires": [
            [
                "646f8b73e886f9b3"
            ]
        ]
    },
    {
        "id": "5221a130b9c43a6a",
        "type": "http response",
        "z": "ec41f33a324cf221",
        "name": "return translation",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "332b84301325d015",
        "type": "inject",
        "z": "ec41f33a324cf221",
        "name": "test caption",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Monkey. Monkey funny. Funny monkey haha.",
        "payloadType": "str",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "ea35e56b14cd582f"
            ]
        ]
    },
    {
        "id": "646f8b73e886f9b3",
        "type": "play audio",
        "z": "ec41f33a324cf221",
        "name": "",
        "voice": "",
        "x": 890,
        "y": 140,
        "wires": []
    }
]